<div class="form-group row">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of filtredPersons">
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.phone }}</td>
            <td>option1 option2</td>
        </tr>
    </tbody>
</table>