<div class="form-group row">
    <div width="40px">
        <a [routerLink]="['new']" class="btn btn-primary mr-5">Add Person</a>
    </div>
    
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of filtredPersons">
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.phone }}</td>
            <td>
                <a [routerLink]="['edit', person.id]" class="btn btn-primary mr-5">Edit</a>
                <a (click)="deleteById(person.id)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>